.updateEduExp {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
    color: #03263a;
}

.updateEduExp > h1 {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: -.5rem;
}

.experienceForm, .educationForm {
    margin: 3rem 0;
}

.experienceForm > h3, .educationForm > h3{
    font-size: 25px;
    margin-bottom: 1.15rem;
}

.experienceForm h4, .educationForm h4{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: .9rem;
    color: #A6D1E9;
}

.input_ee {
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    width: 100%;
    height: 48px;
    margin: 0.3rem 0;
    padding-left: 1rem;

    border: none;
    margin-bottom: 1.5rem;
    font-family: 'Barlow', sans-serif;
    font-size: 1.1rem;
    color: rgb(15, 244, 252);
    font-weight: 600;
    background: rgba(17, 133, 112, 0.3);
    box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.55), inset 3px 3px 6px rgba(0, 0, 0, 0.55);
    border-radius: 7px;
}


.eduExpFormContainer button, .eduExpFormContainer button:hover {
    font-size: 1.3rem;
    margin-top: 2rem;
    padding: 0.6rem 2.0rem;
    text-transform: inherit;
    box-sizing: border-box;
    
    left: 50%;
    transform: translateX(-50%);
    color: #ddf0ed;
    background: #1090D9;
    border-radius: 40px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif !important;
    box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.25), 3px 3px 6px rgba(0, 0, 0, 0.55);
    
}

    .MuiIconButton-label {
        color:#A6D1E9 !important;
    }
    .MuiPaper-root {
        background:rgba(6, 59, 90, 0.56) !important;
}


@media (max-width:600px){
        .updateEduExp > h1 {
            font-size: 2.8rem;
            text-align: center;
        }
}
@media (max-width:500px){
        .updateEduExp > h1 {
            font-size: 2.3rem;
            text-align: center;
        }
}
    