.resumeCreate {
    height: 100vh;
}

.resumeCreate_Container {
    padding: 2rem 6rem;
    padding-bottom: 0;
}

.resumeCreate_Body {
    margin: 2rem auto;
    background-color: rgb(233, 194, 194);
    width: 80%;
}

.slick-slider {
    height: 100% !important;
}


.slick-initialized { 
    overflow: hidden; 
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 75vh !important;
    overflow-y: scroll !important;
}