.resumeCreate {

}

.resumeCreate_Container {
    padding: 3rem;
}

.resumeCreate_Body {
    margin: 2rem auto;
    background-color: rgb(233, 194, 194);
    width: 80%;
}

.slick-slider {
    height: 100% !important;
}


.slick-initialized { 
    overflow: hidden; 
}