.resumeCreate {
    height: 100vh;
    background-image: url(../../assets/images/svg/bg.svg);
    background-size: 100% 120%;
    background-repeat: no-repeat;
    background-position: center;
}

.resumeCreate_Container {
    padding: 1rem 6rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resumeCreate_header {
    color: rgba(255, 255, 255, 0.8);
    font-family: Nunito;
    font-size: 1.1rem;
    margin-left: -75%;
}
.resumeCreate_Body {
    margin: 2rem;
    /* pushing it down */
    transform: translate(0, 8%);

    /* glass texture */
    background: linear-gradient(305.17deg, rgba(94, 94, 94, 0.128) 2.36%, rgba(255, 254, 254, 0.328) 97.48%);

    -webkit-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    width: 70%;
    
    border: 2px solid #108fd934;

}

.slick-slider {
    height: 100% !important;
}


.slick-initialized { 
    overflow: hidden; 
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 75vh !important;
    overflow-y: scroll !important;
}


.resumeSlider_Buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.resumeSlider_Buttons > button, .resumeSlider_Buttons > button:hover {
    font-size: 18px;
    text-transform: inherit;
    color: #1090D9;
    /* border: 1px solid blueviolet; */
    box-sizing: border-box;
    margin-top: -2rem;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70px;
    height: 70px;
    /* background: #58B7EC; */
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.3), 5px 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: 80px;
}

.nextButton, .prevButton{
    /* stroke: inherit;
    transform: scale(2);
    stroke-width: 2px; */
}

.resumeSlider_Buttons > .generate_btn, .resumeSlider_Buttons > .generate_btn:hover {
    font-size: 1.3rem;
    font-weight: bold;
    width: 150px;
}



.generate_pdf {
    font-size: 1.4rem;
    padding-left: 0.5rem;
    margin-bottom: -0.2rem;
}

@media (min-width: 992px) and (max-width: 1380px) {
    .resumeCreate_Container {
        padding: 2rem 3rem;
    }
}


@media screen and (max-width: 992px) {
    .resumeCreate {
        height: 100%;
    }
    
    .resumeCreate_Container {
        padding: 2rem 0rem;
    }
    .resumeCreate_Body {
        margin: 2rem;
        background-color: rgb(233, 194, 194);
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .resumeCreate_Container {
        padding: 2rem 0rem;
    }
    .resumeCreate_Body {
        margin: 2rem;
        background-color: rgb(233, 194, 194);
        width: 100%;
    }
    .resumeSlider_Buttons {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .resumeCreate_Body {
        margin: 1rem;
        background-color: rgb(233, 194, 194);
        width: 100%;
    }
}

@media screen and (max-width: 400px) {

}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}