.fnf {
    height: 100%;
    background-color: #f0b6f6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
 
 
.fnf-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2rem;
    padding: 2rem;
}
 
.fnf-description > h1{
    font-size: 7rem;
    margin-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    animation: heading 3s infinite; 
    color: #ac3b73;
}
 
.fnf-description > h2 {
    font-size: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: #ac3b73;
}
 
 
 
.fnf-description > button, .fnf-description > button:hover {
    margin-top: 2rem;
    font-size: 18px;
    padding: 0.7rem 2.1rem;
   text-transform: inherit;
   color: #fff;
   background-color: #ac3b73;
   border: 1px solid;
   box-sizing: border-box;
   background-size: 150% 150%;
   background-position-x: 0%;
   border-radius: 70px;
   font-family: Nunito;
   width: 7rem;
}
 
@media screen and (max-width: 992px){
    .fnf {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 
    
 
    .fnf-description {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 0;
    }
 
    .fnf-description > h1 {
        font-size: 4rem;
    }
 
    .fnf-description > h2 {
        font-size: 2.5rem;
    }
}
 
@media screen and (max-width: 800px){
    .fnf-description > h1{
        font-size: 5rem;
        margin-bottom: 20px;
        font-family: 'Roboto Condensed', sans-serif;
    }
 
    .fnf-description > h2 {
        font-size: 2rem;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
    }
}
 
.fnf-imgcontainer {
    padding: 2rem;
}
.fnf-imgcontainer > svg {
    width: 500px;
    pointer-events: none;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

#fof_star1{
    transform-origin:86% 87%;
    animation: starSpin1 3s infinite both ease-in-out alternate;
}

#fof_star2{
    transform-origin: 92% 36%;
    animation: starSpin2 5s infinite 1.5s both ease alternate-reverse;
}
#fof_star3{
    transform-origin:7% 21%;
    animation: starSpin1 3s infinite 1s both ease alternate-reverse;
}

#fof_star4{
    transform-origin: 47.5% 15%;
    animation: starSpin2 5s infinite 0.5s both ease alternate;
}

@keyframes starSpin1{
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(1.2) ;
    }
}

@keyframes starSpin2{
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1.3) rotate(360deg);
    }
}

#fof_astronaut{
    transform-origin: 25% 82%;
    animation: muskWave 2.5s infinite both ease-in-out alternate;
}
@keyframes muskWave{
    from{
        transform: rotate(20deg);
    }
    to{
        transform: rotate(60deg) ;
    }
}


#fof_rocket{
    transform-origin: 72% 12%;
    animation: veemanam 2.5s infinite both ease alternate;
}
@keyframes veemanam{
    from{
        transform: scale(1) ;
    }
    to{
        transform: scale(1.1) ;
    }
}

#fof_fuel_right{
    animation: fuelRight 3s infinite both 1s ease alternate;
}

@keyframes fuelRight{
    from{
        transform: translate(4px,-4px) ;
    }
    to{
        transform: translate(-10px,14px) ;
    }
}
#fof_fuel_left{
    animation: fuelLeft 2s infinite both ease alternate;
}

@keyframes fuelLeft{
    from{
        transform: translate(2px,-2px) ;
    }
    to{
        transform: translate(-8px,10px) ;
    }
}

@media screen and (max-width: 992px){
    .fnf-imgcontainer{
        margin-top: -20%;
        margin-bottom: -35%;
    }
    .fnf-imgcontainer > svg {
        width: 450px;
    }
}
@media screen and (max-width: 800px){
    .fnf-imgcontainer > svg{
        width: 400px;
        margin-top: -25%;
        margin-bottom: -20%;
    }
}
@media screen and (max-width: 600px){
    .fnf-imgcontainer > svg{
        width: 350px;
        margin-bottom: -40%;

    }
}
 
@media screen and (max-width: 500px){
    .fnf-imgcontainer > svg{
        width: 320px;
        margin-top: -40%;
        margin-bottom: -60%;

    }
}
 
 
 
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
 
 
 
@keyframes heading {
    0% {
       animation-timing-function: cubic-bezier(.22,.88,.44,1);
       opacity: 0.2;
       transform: translateY(100vh) scale(0.8,0.8) rotateZ(-20deg) rotateX(10deg);
    }
 
    30%,
    50% {
       animation-timing-function: cubic-bezier(.88,0,1,.44);
       opacity: 1;
       transform: translateY(0%) scale(1,1);
    }
 
    100% {
       transform: translateY(-100vh) rotateZ(20deg) rotateX(10deg);
    }
 }
 
