.fnf {
    height: 100%;
    background-color: #f0b6f6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fnf-imgcontainer {
    padding: 2rem;
}

.fnf-imgcontainer > img {
    width: 500px;
    pointer-events: none;
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.fnf-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2rem;
    padding: 2rem;
}

.fnf-description > h1{
    font-size: 7rem;
    margin-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    animation: heading 3s infinite; 
    color: #ac3b73;
}

.fnf-description > h2 {
    font-size: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: #ac3b73;
}



.fnf-description > button, .fnf-description > button:hover {
    margin-top: 2rem;
    font-size: 18px;
    padding: 0.7rem 2.1rem;
   text-transform: inherit;
   color: #fff;
   background-color: #ac3b73;
   border: 1px solid;
   box-sizing: border-box;
   background-size: 150% 150%;
   background-position-x: 0%;
   border-radius: 70px;
   font-family: Nunito;
   width: 7rem;
}

@media screen and (max-width: 992px){
    .fnf {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fnf-imgcontainer > img {
        width: 350px;
    }

    .fnf-description {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 0;
    }

    .fnf-description > h1 {
        font-size: 4rem;
    }

    .fnf-description > h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 800px){
    .fnf-imgcontainer > img{
        width: 330px;
    }
    .fnf-description > h1{
        font-size: 5rem;
        margin-bottom: 20px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    .fnf-description > h2 {
        font-size: 2rem;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    .fnf-imgcontainer > img{
        width: 100%;
    }
}



@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}



@keyframes heading {
    0% {
       animation-timing-function: cubic-bezier(.22,.88,.44,1);
       opacity: 0.2;
       transform: translateY(100vh) scale(0.8,0.8) rotateZ(-20deg) rotateX(10deg);
    }
    
    30%,
    50% {
       animation-timing-function: cubic-bezier(.88,0,1,.44);
       opacity: 1;
       transform: translateY(0%) scale(1,1);
    }
    
    100% {
       transform: translateY(-100vh) rotateZ(20deg) rotateX(10deg);
    }
 }
 
 
 
 /* @media (min-width:1200px){
     #fof_star1{
         animation: stars 5s infinite both;
     }
     @keyframes stars{
        from{
            transform: scale(0.5);
        }
        to{
            transform: scale(1.2) rotate(360deg);
        }
    }
} */