.contributors{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
    background-color: #e6e6e6;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='380' height='380' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23242424'/%3E%3Cstop offset='1' stop-color='%23393939'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23818181'/%3E%3Cstop offset='0.09' stop-color='%23a1a1a1'/%3E%3Cstop offset='0.18' stop-color='%23b6b6b6'/%3E%3Cstop offset='0.31' stop-color='%23c6c6c6'/%3E%3Cstop offset='0.44' stop-color='%23d1d1d1'/%3E%3Cstop offset='0.59' stop-color='%23dbdbdb'/%3E%3Cstop offset='0.75' stop-color='%23e1e1e1'/%3E%3Cstop offset='1' stop-color='%23e6e6e6'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
background-attachment: fixed;
background-repeat: no-repeat;
background-position: top left;
    
}

.contributors > h1 {
    /* position: absolute;
    top:5%;
    left: 40%; */
    font-size: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: #262626;
}



.contributors .contrib_container .contrib-grid .MuiPaper-root {
    background: #fff !important;
}


.contrib-card{
    margin: 40px;
    width: 275px;
    border-radius: 15px !important;
   
}

.contrib-card > .MuiCardContent-root{
    padding: 0rem ;
}

.contrib-card > .MuiCardContent-root:last-child{
    padding-bottom: 0rem;
}


.contrib-cardcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contrib-cardcontent > h1{
    background-color: #fff;
    font-size: 20px;
    padding: 0.7rem 0.5rem;
    font-family: 'Nunito', sans-serif;
}

.contrib-description {
    background-color: #737373;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 175px;
    position: relative;
}

.contrib-description > img{
    width: 125px;
    height: 125px;
    border-radius: 100%;
    
}

.contrib-icon {
    position: absolute;
    right: 33%;
    bottom: 13%;
    display: grid;
    place-items: center;
    border-radius: 100%;
    width: 25px;
    background-color: #fff;
    color: #1b1919;
}

@media screen and (max-width: 992px){

    .contributors{
        height: fit-content;
        background-color: #e6e6e6;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%230f0f0f'/%3E%3Cstop offset='1' stop-color='%23171717'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23818181'/%3E%3Cstop offset='0.09' stop-color='%23a1a1a1'/%3E%3Cstop offset='0.18' stop-color='%23b6b6b6'/%3E%3Cstop offset='0.31' stop-color='%23c6c6c6'/%3E%3Cstop offset='0.44' stop-color='%23d1d1d1'/%3E%3Cstop offset='0.59' stop-color='%23dbdbdb'/%3E%3Cstop offset='0.75' stop-color='%23e1e1e1'/%3E%3Cstop offset='1' stop-color='%23e6e6e6'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top left;
    }

    .contributors > h1{
        font-size: 2.5rem;
        margin-top: 92px;
    }

    .contrib-card{
        margin: 20px;
    }

}

@media screen and (max-width: 800px) {
    
}

