.chooseTemplate {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 1rem;
}

.chooseTemplate > h1 {
    font-size: 1.5rem;
}

.templatesContainer {
    margin: 0.5rem;
    display: flex;
}

.template {
    margin: 1.5rem;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.template > img {
    width: 280px;
}

.template > p {
    padding: 1rem;
}