.fof_astronaut{
    /* transform: rotate(180deg); */
    transform-origin: 23% 82%;
    z-index: 10;
    animation: stars 5s linear infinite both alternate;

}

@keyframes stars{
   from{
       transform: rotate(-45deg) ;
   }
   to{
       transform: rotate(45deg); 
   }
}

@media (min-width:1200px){
    .fnf-imgcontainer-img .fof_star1{
        /* animation: stars 5s infinite both; */
        transform-origin: center;
    }
    
}
