.skillInterest {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
}

.skillInterest > h1 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.skillForm, .interestForm {
    margin: 3rem 0;
}

.skillInterestContainer {
    margin: 3rem 0;
}

.input__se {
    background: pink;
    border: 1px solid red;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    width: 80%;
    height: 48px;
    margin: 0.3rem 0;
    padding-left: 1rem;
    color: black;
}