.skillInterest {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
    /* extra */
    color: #03263a;
}

.skillInterest > h1 {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: -2rem;
}

.skillInterest h4, .skillInterest h4{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: .4rem;
    color: #A6D1E9;
}

.skillForm, .interestForm {
    margin: 3rem 0;
}

.skillInterestContainer {
    margin: 3rem 0;
}
.skillFormContent, .interestFormContent{
    width: 70%;
    margin-left: 15%;

}

.input__se {
    box-sizing: border-box;
    outline: none;
    border: none;
    width: 100%;
    height: 48px;
    margin: 1rem 0;
    padding-left: 1rem;

    /* extra */
    margin-bottom: 1.5rem;
    font-family: 'Barlow', sans-serif;
    font-size: 1.1rem;
    color: rgb(15, 244, 252);
    font-weight: 600;
    background: rgba(17, 133, 112, 0.3);
    box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.55), inset 3px 3px 6px rgba(0, 0, 0, 0.55);
    border-radius: 7px;
}


/* extra */
.skillInterest button{
    font-size: 1.3rem;
    font-weight: 800;
    font-family: 'Nunito', sans-serif !important;
    box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.25), 3px 3px 6px rgba(0, 0, 0, 0.55);
    margin-top: 2rem;
    padding: 0.6rem 2.0rem;
    text-transform: inherit;
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);
    color: #ddf0ed;
    background: #1090D9;
    border-radius: 40px;
}

@media (max-width:700px){
    .skillInterest > h1 {
        font-size: 2.8rem;
        margin-bottom: -4rem;
        text-align: center;
    }
    .skillFormContent, .interestFormContent{
        width: 95%;
        margin-left: 3%;   
    }
}
@media (max-width:500px){
    .skillInterest > h1 {
        font-size: 2.3rem;
    }
}