.footer {
    height: 50px;
    background-color: #686868;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > p{
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}