.main {
    height: 100vh;
    position: relative;
    background-color: #ffaf8a;
}

.main > img {
    position: absolute;
    top: 5%;
    left: 4%;
    cursor: pointer;
    width: 200px;
    pointer-events: none;
}




.main-container{
    padding-top: 8rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-description{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 2rem;
    margin-left: 14rem;
    flex: 0.4;
}

.main-description > h1{
    margin-bottom: 20px;
    font-size: 3.25rem;
    width: 90%;
    font-family: 'Barlow', sans-serif; 
    color: #1a1a1a;
    line-height: 111%;
}

.main-description > p{
    font-size: 1.5rem;
    color: #1a1a1a;
    width: 90%;
    font-family: 'Barlow', sans-serif; 
}

.main-description > button{
    margin-top: 2rem;
    font-size: 1.5rem;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #1090D9, #00B4D7, #041e91);
    box-shadow: 3px 3px 6px #0000006c, 8px 8px 20px #00000030,
    -3px -3px 6px #ffffff90, -8px -8px 20px #ffffff30;
    border-radius: 70px;
    padding: 0.75rem 2rem;
    font-family: Nunito;
    font-style: normal;
    text-transform: inherit;
    font-weight: bold;
    text-align: center;
    color: #303030;

    transition: 0.5s ease;
    
}

.main-description > button:hover{
    background-position: 80% 0;
    transition: all .4s ease-in-out;
    color: #efefef;
}

.img-container {
    flex: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container > img {
    width: 550px;
    pointer-events: none;
}





@media (min-width: 992px) and (max-width: 1380px) {
    .main-container{
        padding-top: 5rem;

    }
    .main-description{
        margin-left: 6rem;
    }
    

}


@media screen and (max-width: 992px) {
    .main{
        height: fit-content;
    }

    .main > img {
        position: absolute;
        top: 3%;
        left: 4%;
        cursor: pointer;
        width: 125px;
    }

    .main > h1{
        font-size: 2.5rem;
    }
    .main-container{
        padding-top: 5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      
    }
    .main-description{
        flex: 1;
        margin-left: 0rem;
        margin: 2rem;
    }



    .main-description > h1{
        font-size: 2.9rem;
        width: 90%;
    }

    .main-description > p{
        width: 100%;
    }

    .main-description > button {
        font-size: 1.3rem;
    }

    .img-container{
        flex: 1;
        margin: 3rem;
    }

    .img-container > img {
        width: 400px;
    }
    

}

@media screen and (max-width: 800px) {
    
    .main-container{
        padding-top: 5rem;      
    }
    .main-description > h1{
        font-size: 2.5rem;
        width: 100%;
    }
    .img-container{
        margin: 2rem;
    }

    .img-container > img{
        width: 100%;
    }


}

@media screen and (max-width: 600px) {
    .main-description > h1{
        font-size: 2.3rem;
    }
    .main-description > p{
        font-size: 1.5rem;
    }
    .main-container{
        padding-top: 4rem;
      
    }
    .main > img {
        left: 10%;
        transform: scale(1.2);
    }

    
    .main-description > button{
        margin-top: 2rem;
       font-size: 1.3rem;
       background: linear-gradient(45deg,#1090D9 50%,#041e91 90%);
       border-radius: 70px;
       padding: 0.75rem 2rem;
       font-family: Nunito;
       font-style: normal;
       text-transform: inherit;
       font-weight: bold;
       text-align: center;
       color: #efefef;
    
    }

}

@media screen and (max-width: 400px) {


}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

    .main-description > h1{
        font-size: 2rem;
        width: 100%;
    }

    .main-description > p{
        width: 100%;
        font-size: 1.25rem;
    }

    .main-description > button {
        padding: 0.5rem 1.5rem;
        font-size: 15px;
    }
    .main > img {
        position: absolute;
        top: 3%;
        left: 4%;
        cursor: pointer;
        width: 125px;
    }
  

}


@media only screen and (device-width: 768px) {

}
