.main {
    height: 100vh;
    position: relative;
}

.main  >  h1 {
    position: absolute;
    top: 10px;
    left: 5%;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
}




.main-container{
    padding-top: 8rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
}

.main-description{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 2rem;
    margin-left: 8rem;
    flex: 0.4;
}

.main-description > h1{
    margin-bottom: 20px;
    font-size: 3rem;
    width: 80%;
}

.main-description > p{
    font-size: 1.5rem;
    font-weight: 400;
    width: 80%;
}

.main-description > button, .main-description > button:hover {
    margin-top: 2rem;
   font-size: 18px;
   padding: 0.7rem 2.1rem;
   text-transform: inherit;
   color: blue;
   border: 1px solid green;
   box-sizing: border-box;
   border-radius: 12px;
   background-color: greenyellow;

    
}

.img-container {
    margin: 2rem;
    flex: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container > img {
    height: 450px;
    width: 400px;
    pointer-events: none;
}





@media (min-width: 992px) and (max-width: 1380px) {

}


@media screen and (max-width: 992px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 400px) {

}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}