@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

/* 

font-family: 'Barlow', sans-serif; 
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Monteserrat', sans-serif;
*/

* {
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;  
}

*::-webkit-scrollbar {
  display: none;
}

